/*FLEX STYLES*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.center-h {
  align-items: center;
}
.center-v {
  justify-content: center;
}
.center-vh {
  align-items: center;
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.start {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.between-v {
  align-items: stretch;
}
.colorWhite {
  color: white;
}
.colorPurple {
  color: #592A59;
}

/*CLASS ELEMENTS*/
body {
  overflow: hidden;
}

button {
  color: #592A59;
  background: white;
  font-family: 'Raleway';
  width: 48%;
  height: 50px;
  font-size: 1.5em;
  border: 3px solid #592A59;
  box-shadow: 0px 5px #967096;
  transition: .2s;
}

p {
  font-family: 'Raleway';
  font-size: 1.5em;
  padding: 0px 15px;
  text-align: center;
}

ul {
  padding-left: 30px;
}

li {
  font-family: 'Raleway';
  font-size: 0.9em;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
}

button.clicked {
  cursor: pointer;
  background: #592A59;
  color: white;
  transition: .2s;
}

button:hover {
  cursor: pointer;
  background: #592A59;
  color: white;
  transition: .2s;
  width: 52%;
}

.image-window {
  margin: 20px;
  box-shadow: 0px 5px #967096;
}

.photo-accept {
  position: relative;
}

.murphy-button {
  display: none;
}

.header {
  color: white;
  font-size: 2.5em;
}

/*ID ELEMENTS*/
#info-wrapper {
  position: absolute;
  width: 300px;
  top: 45%;
  left: 20px;
  transform: translateY(-50%);
  border: 3px solid #592A59;
  background: white;
  box-shadow: 0px 5px #967096;
  animation-name: infofloat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes infofloat {
  0%  { top: 45%; }
  50% { top: 48%; }
}

#accept {
  margin-right: -200px;
  opacity: 0.0;
}
#accept:hover {
  height: 60px;
}
#accept.show {
  margin-right: -23px;
  opacity: 1.0;
}
#decline {
  margin-left: -200px;
  opacity: 0.0;
}
#decline:hover {
  height: 60px;
}
#decline.show {
  margin-left: -23px;
  opacity: 1.0;
}
#ask-voice.clicked {
  background: #592A59;
  color: white;
  transition: .2s;
  width: 52%;
}

#wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: calc(100% - 180px);
}

#exit {
  position: relative;
  z-index: 5;
  color: white;
  top: 0;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
  background: #592A59;
  font-family: 'Quicksand';
  box-shadow: 0px -5px #967096;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  background: #592A59;
  font-family: 'Quicksand';
  box-shadow: 0px 5px #967096;
}
#info-header {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  background: #592A59;
  font-family: 'Quicksand';
  box-shadow: 0px 5px #967096;
}
#questions-wrapper {
  width: calc(100% - 15px);
  height: 50px;
  text-align: center;
  color: #592A59;
  background: white;
  font-family: 'Quicksand';
  box-shadow: 0px 5px #967096;
  border: 3px solid #592A59;
  padding-left: 10px;
}

#textbox-wrapper {
  transition: .4s;
  width: 65%;
}

#text-pre {
  color: #592A59;
  background: white;
  font-family: 'Raleway';
  height: 44px;
  width: 70px;
  padding-right: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  border-top: 3px solid #592A59;
  border-left: 3px solid #592A59;
  border-bottom: 3px solid #592A59;
  box-shadow: 0.5px 5px #967096;
}

#ask-textbox {
  color: #592A59;
  background: white;
  font-family: 'Raleway';
  height: 40px;
  width: calc(100% - 70px);
  font-size: 0.9em;
  border-top: 3px solid #592A59;
  border-right: 3px solid #592A59;
  border-bottom: 3px solid #592A59;
  border-left: none;
  padding-top: 3px;
  box-shadow: 0px 5px #967096;
  outline: none;
  transition: .4s;
}
#textbox-wrapper.fullwidth {
  width: 100%;
}

#ask-textbutton {
  width: 30%;
}
#ask-textbutton:hover {
  width: 35% !important;
}

#buttons, #buttons2 {
  margin-bottom: 20px;
}

#buttons2 {
  display: none;
}

#body {
  width: 640px;
}

#share.shareicons {
  width: 100%;
  background: #592A59;
  color: white;
}

#video {
  display: block;
  position: relative;
  background: white;
  z-index: 20;
  width: 640px;
  min-width: 640px;
  height: 480px;
  border: 3px solid #592A59;
}

#canvas {
  position: relative;
  background: white;
  z-index: 20;
  display: none;
  height: 480px;
  border: 3px solid #592A59;
}

#murphyImage {
  position: relative;
  background: white;
  z-index: 20;
  display: none;
  height: 480px;
  width: 1140px;
  border: 3px solid #592A59;
}

#murphyloading {
  position: absolute;
  background: white;
  opacity: 0.8;
  z-index: 30;
  display: none;
  height: 480px;
  width: 640px;
}

#cameraFlash {
  position: absolute;
  background: white;
  z-index: 30;
  display: none;
  height: 480px;
  width: 640px;
}

#attachmentRecieved, #attachmentRefused, #error {
  position: absolute;
  background: white;
  opacity: 0.8;
  z-index: 30;
  display: none;
  height: 480px;
  width: 640px;
}

#socialicons {
  position: absolute;
  overflow: hidden;
  background: #592A59;
  opacity: 0.9;
  z-index: 30;
  height: 0px;
  width: 640px;
  transition: .4s;
  bottom: 175px;
}
#socialicons.show {
  height: 200px;
}

#recording {
  display: none;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
